body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
	background: linear-gradient(-30deg, #b61d1d, #d21bd8, #0f58e0, #00992e);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
    text-shadow:  2px 2px black;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
    text-indent: 25px;
}
nav {
    transform: translate(1000px, -60px);
}
nav a {   
    margin: 25px;
    padding:5px;
    text-emphasis: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
}

nav a:hover {
    transition: 100ms;
    border:1px solid white;
    background-color: #2f2f2f;
    color:wheat;
}
.error {
    position: fixed;
    top: 50px;
    transition: 100ms;
    text-emphasis: 10px;
    color: white;
    font-weight: bold;
}

