body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
	background: linear-gradient(-45deg, #2e2b2b, #301842, #421344, #4c0755);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.header {
    text-indent: 25px;
}
.doc {
    text-indent: 1000px;
    position: fixed;
    top: 15px;
    transition: 100ms;
    text-emphasis: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.error {
    position: fixed;
    top: 50px;
    transition: 100ms;
    text-emphasis: 10px;
    color: white;
    font-weight: bold;
}

.doc:hover {
    color: darkgray;
}
